{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{#{B2b Account Main Content #}
{% block b2blayout_content %}

    {# B2B Account Header #}
    <div
        class="b2b--ajax-panel"
        data-id="offer-grid"
        data-url="{{ path('frontend.b2b.b2bofferexample.grid') }}"
        data-plugins="gridComponent">
    </div>

    <div class="is--b2b-ajax-panel b2b--ajax-panel has--b2b-form" data-id="contact-profile"></div>

    <div class="b2b--ajax-panel b2b-modal-panel" data-id="offer-detail"></div>

{% endblock %}